.navbar {
    width: 90%;
    height: 80px;
    background: #FFF;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    margin-left: 80px;
}

.logo-container span {
    cursor: pointer;
    color: #543EE0;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
}

.links-container {
    margin-right: 20px;
    display: flex;
    width: 300px;
    justify-content: space-evenly;
}

.link a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}

.link a:hover {
    text-decoration: none;
    color: rgba(14, 34, 14, 0.8);
}

